.login-form {
  max-width: 400px;
  margin: 80px auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.login-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
