/* FORM BUTTON */
.form-button{
  width: 80%;
  height:2.5em;
  margin: 10% 10%;
  font-size: 1em;
  border-radius: 10px;
  padding: 3%;
  border: none;
  color: rgb(255,255,255);
  background-color: #e41e26
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Tahoma;
}
/* FORM BUTTON */