.password-reset-container {  
  max-width: 400px;  
  margin: 80px auto;  
  background: #f9f9f9;  
  padding: 20px;  
  border-radius: 10px;  
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);  
}  

.password-reset-container {  
  display: flex;  
  flex-direction: column;  
  gap: 12px;  
}  

.pw-div {
  position: relative;
  display: flex;
  align-items: center;
}

.password-reset-input {
  width: 100%;
  padding-right: 35px;
  margin: 10px 0;
  box-sizing: border-box;
}
