.user-card{
  background-color: #e0dede;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-avatar{
  border: 1px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 0;
}

.user-name{
  margin-top: 0;
  font-size: 3rem;
}

.rank-image{
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.rank{
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  
}

.remark{
  
}